In [4]:
import numpy as np
import pandas as pd

Задание 1 - массивы numpy. 1 балл

Даны массивы а и b и результат некой операции. Допишите код, чтобы получились итоговые значения

In [5]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 4, 3, 2])

In [6]:
a - b

# print([4, 2, 0, -2])

array([-4, -2,  0,  2])

In [7]:
sum(a)

# print(10)

10

In [8]:
a**a

# print([1, 4, 27, 256])

array([  1,   4,  27, 256])

In [9]:
# b...
max(b)
# print(5)

5

Задание 2 - создание датафрейма. 1 балл

Создайте датафрейм, который состоит из четырех столбцов и четырех строк. Для начала откройте холодильник  и выберите четыре продукта :) В первый столбец запишите четыре продукта, во второй - количество каллорий в 100 граммах, в третий - вес продукта, в четвертый - количество дней до конца срока годности.

In [10]:
d = pd.DataFrame({"goods": ['milk', 'eggs', 'cheese', 'banana'],
                  "calories": [110, 180, 300, 100], 
                  "weight": [500, 100, 245, 34], 
                  "duration": [-1, 4, 2, 0]})
d

    goods  calories  weight  duration
0    milk       110     500        -1
1    eggs       180     100         4
2  cheese       300     245         2
3  banana       100      34         0

Задание 3 - создание новой переменной. 1 балл

Добавьте в получившийся датафрейм новый столбец - количество каллорий * вес продукта. Вспомните, мы считали ВВП на душу населения и добавляли полученные результаты в датафрейм на семинаре.

In [17]:
d["total_calories"] = d["calories"]*d["weight"]/100
d

    goods  calories  weight  duration  total_calories
0    milk       110     500        -1           550.0
1    eggs       180     100         4           180.0
2  cheese       300     245         2           735.0
3  banana       100      34         0            34.0

Задание 4 - работа с датасетом. 3 балла 

Откройте датафрейм states.csv (убедитесь, что он в той же папке, где ноутбук). С помощью функций .loc или .iloc ответьте на вопросы (не используя гугл):

1) Какие государственные языки в Бельгии?

2) Какое население в Болгарии?

3) Сколько у Польши мест в Европейском парламенте?

In [41]:
states = pd.read_csv("states.csv", index_col = 0)
states

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Albania,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Lek,ALL,Albanian,2892302,28748,101,10267.0,11398.0,3945.0
Austria,Member,1995.0,10.0,18.0,NaN,Member,Member,Euro,EUR,German,8576261,83855,102,339896.0,376950.0,43775.0
Belgium,Member,1958.0,12.0,21.0,NaN,Member,Member,Euro,EUR,"Dutch, French, German",11237274,30528,368,410351.0,455086.0,40324.0
Bulgaria,Member,2007.0,10.0,17.0,NaN,Member,Candidate,Lev,BGN,Bulgarian,7202198,110994,65,45287.0,50199.0,6994.0
Croatia,Member,2013.0,7.0,11.0,NaN,Member,Candidate,Kuna,HRK,Croatian,4225316,56594,75,43847.0,48732.0,11536.0
Cyprus,Member,2004.0,4.0,6.0,NaN,Member,Member,Euro,EUR,"Greek, Turkish",847008,9251,92,17637.0,19560.0,23243.0
Czech Republic,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Koruna,CZK,Czech,10538275,78866,134,166964.0,185156.0,17548.0
Denmark,Member,1973.0,7.0,13.0,NaN,Member,Not Applicable,Krone,DKK,Danish,5659715,43075,131,271786.0,295091.0,51989.0
Estonia,Member,2004.0,4.0,6.0,NaN,Member,Member,Euro,EUR,Estonian,1314870,45227,29,20252.0,22459.0,17119.0
Finland,Member,1995.0,7.0,13.0,NaN,Member,Member,Euro,EUR,"Finnish, Swedish",5471753,338424,16,209511.0,231950.0,42311.0
France,Member,1958.0,29.0,74.0,NaN,Member,Member,Euro,EUR,French,66488186,549087,121,2181064.0,2418836.0,36206.0
Germany,Member,1958.0,29.0,96.0,NaN,Member,Member,Euro,EUR,German,81197537,357021,227,3032820.0,3363447.0,41313.0
Greece,Member,1981.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Greek,10858018,131990,82,175697.0,194851.0,18002.0
Hungary,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Forint,HUF,Hungarian,9855571,93030,106,109674.0,121715.0,12364.0
Iceland,NaN,NaN,NaN,NaN,Member,Member,NaN,Króna,ISK,Icelandic,329100,102775,3,15134.0,16598.0,50173.0
Ireland,Member,1973.0,7.0,11.0,NaN,Member,Member,Euro,EUR,"English, Irish",4628949,70273,66,255815.0,283703.0,61134.0
Italy,Member,1958.0,29.0,73.0,NaN,Member,Member,Euro,EUR,Italian,60795612,301338,202,1645439.0,1821497.0,29958.0
Latvia,Member,2004.0,4.0,8.0,NaN,Member,Member,Euro,EUR,Latvian,1986096,64589,31,24368.0,27003.0,13649.0
Liechtenstein,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,German,37366,160,234,NaN,NaN,NaN
Lithuania,Member,2004.0,7.0,11.0,NaN,Member,Member,Euro,EUR,Lithuanian,2921262,65200,45,37331.0,41171.0,14147.0
Luxembourg,Member,1958.0,4.0,6.0,NaN,Member,Member,Euro,EUR,"French, German, Luxembourgish",562958,2586,218,51216.0,57794.0,101450.0
Macedonia,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Denar,MKD,Macedonian,2069172,25713,80,9061.0,10086.0,4853.0
Malta,Member,2004.0,3.0,6.0,NaN,Member,Member,Euro,EUR,"Maltese, English",429344,316,1359,9276.0,9746.0,22596.0
Montenegro,Candidate,NaN,NaN,NaN,NaN,NaN,Member,Euro,EUR,Serbian,622099,13812,45,3625.0,3987.0,6406.0
Netherlands,Member,1958.0,13.0,26.0,NaN,Member,Member,Euro,EUR,Dutch,16900726,41543,407,676531.0,750284.0,44300.0
Norway,NaN,NaN,NaN,NaN,Member,Member,NaN,Krone,NOK,Norwegian,5166493,385178,13,348332.0,386578.0,74400.0
Poland,Member,2004.0,27.0,51.0,NaN,Member,Candidate,Złoty,PLN,Polish,38005614,312685,122,429794.0,477066.0,12555.0
Portugal,Member,1986.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Portuguese,10374822,92390,112,179540.0,198923.0,19222.0
Romania,Member,2007.0,14.0,32.0,NaN,Member,Candidate,Leu,RON,Romanian,19870647,238391,83,159964.0,177954.0,8973.0
Serbia,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Dinar,RSD,Serbian,7114393,88361,81,33491.0,37160.0,5235.0
Slovakia,Member,2004.0,7.0,13.0,NaN,Member,Member,Euro,EUR,Slovak,5421349,49035,111,78686.0,87264.0,16088.0
Slovenia,Member,2004.0,4.0,8.0,NaN,Member,Member,Euro,EUR,Slovene,2062874,20273,102,38570.0,42775.0,20727.0
Spain,Member,1986.0,27.0,54.0,NaN,Member,Member,Euro,EUR,Spanish,46449565,504030,92,1075639.0,1199057.0,25832.0
Sweden,Member,1995.0,10.0,20.0,NaN,Member,Candidate,Krona,SEK,Swedish,9747355,449964,22,447010.0,495624.0,50580.0
Switzerland,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,"German, French, Italian, Romansh",8237666,41285,200,604510.0,670790.0,80945.0
Turkey,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Lira,TRY,Turkish,77695904,783356,99,772610.0,717880.0,9126.0
United Kingdom,Member,1973.0,29.0,73.0,NaN,Member,Not Applicable,Pound Sterling,GBP,English,64875165,243610,266,2580065.0,2858003.0,43876.0

In [30]:
print("Какие государственные языки в Бельгии?")
print(states.loc["Belgium", "Language"])

print("Какое население в Болгарии?")
print(states.loc["Bulgaria", "Population"])

print("Сколько у Польши мест в Европейском парламенте?")
print(states.loc["Poland", "European Parliament Seats"])

Какие государственные языки в Бельгии?
Dutch, French, German
Какое население в Болгарии?
7202198
Сколько у Польши мест в Европейском парламенте?
51.0

Задание 5 - продолжаем работать с датасетом. 3 балла

В датасете states.csv с помощью условий найдите:

1) страны, где государственный язык только немецкий

2) страны с населением больше 8 млн и площадью территории меньше 300000

3) страну с наименьшим количеством голосов

In [31]:
states[states["Language"] == "German"]

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Austria,Member,1995.0,10.0,18.0,NaN,Member,Member,Euro,EUR,German,8576261,83855,102,339896.0,376950.0,43775.0
Germany,Member,1958.0,29.0,96.0,NaN,Member,Member,Euro,EUR,German,81197537,357021,227,3032820.0,3363447.0,41313.0
Liechtenstein,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,German,37366,160,234,NaN,NaN,NaN

In [33]:
states[(states["Population"] > 8000000) & (states["Area (km²)"] < 300000)]

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Austria,Member,1995.0,10.0,18.0,NaN,Member,Member,Euro,EUR,German,8576261,83855,102,339896.0,376950.0,43775.0
Belgium,Member,1958.0,12.0,21.0,NaN,Member,Member,Euro,EUR,"Dutch, French, German",11237274,30528,368,410351.0,455086.0,40324.0
Czech Republic,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Koruna,CZK,Czech,10538275,78866,134,166964.0,185156.0,17548.0
Greece,Member,1981.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Greek,10858018,131990,82,175697.0,194851.0,18002.0
Hungary,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Forint,HUF,Hungarian,9855571,93030,106,109674.0,121715.0,12364.0
Netherlands,Member,1958.0,13.0,26.0,NaN,Member,Member,Euro,EUR,Dutch,16900726,41543,407,676531.0,750284.0,44300.0
Portugal,Member,1986.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Portuguese,10374822,92390,112,179540.0,198923.0,19222.0
Romania,Member,2007.0,14.0,32.0,NaN,Member,Candidate,Leu,RON,Romanian,19870647,238391,83,159964.0,177954.0,8973.0
Switzerland,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,"German, French, Italian, Romansh",8237666,41285,200,604510.0,670790.0,80945.0
United Kingdom,Member,1973.0,29.0,73.0,NaN,Member,Not Applicable,Pound Sterling,GBP,English,64875165,243610,266,2580065.0,2858003.0,43876.0

In [50]:
# states[states['Council Votes'] == ]
min_votes = min(states[states['Council Votes'].notna()]['Council Votes'])
states[states['Council Votes'] == min_votes]

import numpy as np
states[states['Council Votes'] == np.min(states['Council Votes'])]
# Нужно использовать np.min(), потому что он умеет игнорировать N/A

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Malta,Member,2004.0,3.0,6.0,NaN,Member,Member,Euro,EUR,"Maltese, English",429344,316,1359,9276.0,9746.0,22596.0

Задание 6 - 1 балл

Отсортируйте датасет по колонке Population Density. Какая страна имеет наибольшую плотность, а какая наименьшую?

In [55]:
states.sort_values(by = 'Population Density')

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Iceland,NaN,NaN,NaN,NaN,Member,Member,NaN,Króna,ISK,Icelandic,329100,102775,3,15134.0,16598.0,50173.0
Norway,NaN,NaN,NaN,NaN,Member,Member,NaN,Krone,NOK,Norwegian,5166493,385178,13,348332.0,386578.0,74400.0
Finland,Member,1995.0,7.0,13.0,NaN,Member,Member,Euro,EUR,"Finnish, Swedish",5471753,338424,16,209511.0,231950.0,42311.0
Sweden,Member,1995.0,10.0,20.0,NaN,Member,Candidate,Krona,SEK,Swedish,9747355,449964,22,447010.0,495624.0,50580.0
Estonia,Member,2004.0,4.0,6.0,NaN,Member,Member,Euro,EUR,Estonian,1314870,45227,29,20252.0,22459.0,17119.0
Latvia,Member,2004.0,4.0,8.0,NaN,Member,Member,Euro,EUR,Latvian,1986096,64589,31,24368.0,27003.0,13649.0
Montenegro,Candidate,NaN,NaN,NaN,NaN,NaN,Member,Euro,EUR,Serbian,622099,13812,45,3625.0,3987.0,6406.0
Lithuania,Member,2004.0,7.0,11.0,NaN,Member,Member,Euro,EUR,Lithuanian,2921262,65200,45,37331.0,41171.0,14147.0
Bulgaria,Member,2007.0,10.0,17.0,NaN,Member,Candidate,Lev,BGN,Bulgarian,7202198,110994,65,45287.0,50199.0,6994.0
Ireland,Member,1973.0,7.0,11.0,NaN,Member,Member,Euro,EUR,"English, Irish",4628949,70273,66,255815.0,283703.0,61134.0
Croatia,Member,2013.0,7.0,11.0,NaN,Member,Candidate,Kuna,HRK,Croatian,4225316,56594,75,43847.0,48732.0,11536.0
Macedonia,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Denar,MKD,Macedonian,2069172,25713,80,9061.0,10086.0,4853.0
Serbia,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Dinar,RSD,Serbian,7114393,88361,81,33491.0,37160.0,5235.0
Greece,Member,1981.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Greek,10858018,131990,82,175697.0,194851.0,18002.0
Romania,Member,2007.0,14.0,32.0,NaN,Member,Candidate,Leu,RON,Romanian,19870647,238391,83,159964.0,177954.0,8973.0
Spain,Member,1986.0,27.0,54.0,NaN,Member,Member,Euro,EUR,Spanish,46449565,504030,92,1075639.0,1199057.0,25832.0
Cyprus,Member,2004.0,4.0,6.0,NaN,Member,Member,Euro,EUR,"Greek, Turkish",847008,9251,92,17637.0,19560.0,23243.0
Turkey,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Lira,TRY,Turkish,77695904,783356,99,772610.0,717880.0,9126.0
Albania,Candidate,NaN,NaN,NaN,NaN,NaN,NaN,Lek,ALL,Albanian,2892302,28748,101,10267.0,11398.0,3945.0
Austria,Member,1995.0,10.0,18.0,NaN,Member,Member,Euro,EUR,German,8576261,83855,102,339896.0,376950.0,43775.0
Slovenia,Member,2004.0,4.0,8.0,NaN,Member,Member,Euro,EUR,Slovene,2062874,20273,102,38570.0,42775.0,20727.0
Hungary,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Forint,HUF,Hungarian,9855571,93030,106,109674.0,121715.0,12364.0
Slovakia,Member,2004.0,7.0,13.0,NaN,Member,Member,Euro,EUR,Slovak,5421349,49035,111,78686.0,87264.0,16088.0
Portugal,Member,1986.0,12.0,21.0,NaN,Member,Member,Euro,EUR,Portuguese,10374822,92390,112,179540.0,198923.0,19222.0
France,Member,1958.0,29.0,74.0,NaN,Member,Member,Euro,EUR,French,66488186,549087,121,2181064.0,2418836.0,36206.0
Poland,Member,2004.0,27.0,51.0,NaN,Member,Candidate,Złoty,PLN,Polish,38005614,312685,122,429794.0,477066.0,12555.0
Denmark,Member,1973.0,7.0,13.0,NaN,Member,Not Applicable,Krone,DKK,Danish,5659715,43075,131,271786.0,295091.0,51989.0
Czech Republic,Member,2004.0,12.0,21.0,NaN,Member,Candidate,Koruna,CZK,Czech,10538275,78866,134,166964.0,185156.0,17548.0
Switzerland,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,"German, French, Italian, Romansh",8237666,41285,200,604510.0,670790.0,80945.0
Italy,Member,1958.0,29.0,73.0,NaN,Member,Member,Euro,EUR,Italian,60795612,301338,202,1645439.0,1821497.0,29958.0
Luxembourg,Member,1958.0,4.0,6.0,NaN,Member,Member,Euro,EUR,"French, German, Luxembourgish",562958,2586,218,51216.0,57794.0,101450.0
Germany,Member,1958.0,29.0,96.0,NaN,Member,Member,Euro,EUR,German,81197537,357021,227,3032820.0,3363447.0,41313.0
Liechtenstein,NaN,NaN,NaN,NaN,Member,Member,NaN,Franc,CHF,German,37366,160,234,NaN,NaN,NaN
United Kingdom,Member,1973.0,29.0,73.0,NaN,Member,Not Applicable,Pound Sterling,GBP,English,64875165,243610,266,2580065.0,2858003.0,43876.0
Belgium,Member,1958.0,12.0,21.0,NaN,Member,Member,Euro,EUR,"Dutch, French, German",11237274,30528,368,410351.0,455086.0,40324.0
Netherlands,Member,1958.0,13.0,26.0,NaN,Member,Member,Euro,EUR,Dutch,16900726,41543,407,676531.0,750284.0,44300.0
Malta,Member,2004.0,3.0,6.0,NaN,Member,Member,Euro,EUR,"Maltese, English",429344,316,1359,9276.0,9746.0,22596.0

In [56]:
states[states['Population Density'] == np.min(states['Population Density'])]

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Iceland,NaN,NaN,NaN,NaN,Member,Member,NaN,Króna,ISK,Icelandic,329100,102775,3,15134.0,16598.0,50173.0

In [57]:
states[states['Population Density'] == np.max(states['Population Density'])]

,European Union,Accession Year,Council Votes,European Parliament Seats,European Free Trade Agreement,European Single Market,European Monetary Union,Currency,Currency Code,Language,Population,Area (km²),Population Density,"GDP (€, millions)","GDP ($, millions)","GDP per capita ($, millions)"
Country,,,,,,,,,,,,,,,,
Malta,Member,2004.0,3.0,6.0,NaN,Member,Member,Euro,EUR,"Maltese, English",429344,316,1359,9276.0,9746.0,22596.0