<a href="https://colab.research.google.com/github/ann-izgarova/Training-tasks-Python/blob/main/ML_course_bonus_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Бонусное домашнее задание (pandas).

In [1]:
import pandas as pd
import io

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data_bonus_task.csv to data_bonus_task (1).csv

In [3]:
# Так был ранее добыт этот единый файл из нескольких отдельных
# df = pd.DataFrame()
# df0 = pd.DataFrame()
# df1 = pd.DataFrame()
# for i in range(0,10):
#   df0 = pd.read_csv(io.BytesIO(uploaded['Students_info_'+str(i)+'.csv']))
#   df1 = pd.read_csv(io.BytesIO(uploaded['Students_marks_'+str(i)+'.csv']))
#   df1 = pd.concat([df0, df1], axis=1)
#   df = pd.concat([df,df1])
# сохраню таблицу чтобы больше не скачивать 20 файлов
# df.to_csv("data_bonus_task.csv")

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [4]:
df=pd.read_csv('data_bonus_task.csv', index_col = 0, sep=";")
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
2,female,group C,some college,standard,completed,group1,1,69,90,88
3,female,group B,master's degree,standard,none,group1,2,90,95,93
4,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
5,male,group C,some college,standard,none,group1,4,76,78,75
6,female,group B,associate's degree,standard,none,group1,5,71,83,78
7,female,group B,some college,standard,completed,group1,6,88,95,92
8,male,group B,some college,free/reduced,none,group1,7,40,43,39
9,male,group D,high school,free/reduced,completed,group1,8,64,64,67
10,female,group B,high school,free/reduced,none,group1,9,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [5]:
df.shape

(1000, 10)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [6]:
df.describe()

             index  math score  reading score  writing score
count  1000.000000  1000.00000    1000.000000    1000.000000
mean    499.500000    66.08900      69.169000      68.054000
std     288.819436    15.16308      14.600192      15.195657
min       0.000000     0.00000      17.000000      10.000000
25%     249.750000    57.00000      59.000000      57.750000
50%     499.500000    66.00000      70.000000      69.000000
75%     749.250000    77.00000      79.000000      79.000000
max     999.000000   100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [7]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [8]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

index            499.500
math score        66.089
reading score     69.169
writing score     68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [9]:
df.groupby("test preparation course").agg("mean")

                              index  math score  reading score  writing score
test preparation course
completed                510.335196   69.695531      73.893855      74.418994
none                     493.457944   64.077882      66.534268      64.504673

In [10]:
# 73.893855-66.534268
74.418994-64.504673

9.914321000000001

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [11]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [12]:
df = df.rename(columns={"parental level of education":"education","test preparation course":"test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,index,math score,reading score,writing score
1,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
2,female,group C,some college,standard,completed,group1,1,69,90,88
3,female,group B,master's degree,standard,none,group1,2,90,95,93
4,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
5,male,group C,some college,standard,none,group1,4,76,78,75
...,...,...,...,...,...,...,...,...,...,...
996,female,group E,master's degree,standard,completed,group10,995,88,99,95
997,male,group C,high school,free/reduced,none,group10,996,62,55,55
998,female,group C,high school,free/reduced,completed,group10,997,59,71,65
999,female,group D,some college,standard,completed,group10,998,68,78,77
1000,female,group D,some college,free/reduced,none,group10,999,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [13]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [14]:
print(round((df['math score']>=passmark).mean(),2))
print(round(((df['math score']>=passmark) & (df['test preparation']=='completed')).mean(),2))
print(round(((df['math score']<passmark) & (df['test preparation']!='completed') & (df['gender']=='female')).mean(),2))
# ???????

0.86
0.33
0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [15]:
# %%timeit
df.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [16]:
# %%timeit
df.groupby('education')['writing score'].min()

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [17]:
pd.pivot_table(df, index=['gender','education'])

                                index  math score  reading score  \
gender education
female associate's degree  496.715517   65.250000      74.120690
       bachelor's degree   500.793651   68.349206      77.285714
       high school         567.457447   59.351064      68.202128
       master's degree     462.666667   66.500000      76.805556
       some college        495.550847   65.406780      73.550847
       some high school    519.868132   59.296703      69.109890
male   associate's degree  446.575472   70.764151      67.433962
       bachelor's degree   498.327273   70.581818      68.090909
       high school         515.382353   64.705882      61.480392
       master's degree     504.652174   74.826087      73.130435
       some college        489.638889   69.009259      64.990741
       some high school    485.784091   67.840909      64.693182

                           writing score
gender education
female associate's degree      74.000000
       bachelor's degree       78.380952
       high school             66.691489
       master's degree         77.638889
       some college            74.050847
       some high school        68.285714
male   associate's degree      65.405660
       bachelor's degree       67.654545
       high school             58.539216
       master's degree         72.608696
       some college            63.148148
       some high school        61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [18]:
df['Math_PassStatus']=df['math score'].apply(lambda x: 'F' if x<50 else 'P')
df['Reading_PassStatus']=df['reading score'].apply(lambda x: 'F' if x<50 else 'P')
df['Writing_PassStatus']=df['writing score'].apply(lambda x: 'F' if x<50 else 'P')
df[['Math_PassStatus','Reading_PassStatus','Writing_PassStatus']].apply(lambda x: x.value_counts())

   Math_PassStatus  Reading_PassStatus  Writing_PassStatus
P              865                 910                 886
F              135                  90                 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [19]:
df['OverAll_PassStatus']=df[['Math_PassStatus','Reading_PassStatus','Writing_PassStatus']].apply(lambda x: 'F' if (x=='F').any() else 'P', axis=1)
df['OverAll_PassStatus'].value_counts()

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    90 и больше = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [20]:
def GetGrade(average_mark):
  if average_mark>=90:
    grade='A'
  elif 80<=average_mark<90:
    grade='B'
  elif 70<=average_mark<80:
    grade='C'
  elif 60<=average_mark<70:
    grade='D'
  elif 50<=average_mark<60:
    grade='E'
  else:
    grade='F' 
  return grade  

df['Grade']=df[['math score', 'writing score','reading score']].apply(lambda x: GetGrade(x.mean()), axis=1)
df['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64